#line {
     width: 90%;
     margin: auto;
     margin-top: 5%;
     margin-bottom: 5%;
     border: 3px dashed #1A85FD
}




body {
  background-image: repeating-conic-gradient(red 10%, orange 20%);
  text-align: center;

  border-style: dotted;
  border-color: purple;
  border-width: 25px;
  

  font-family: "Comic Sans MS";
  cursor: pointer;
  


}

h1 {
  font-size: 60px;
  background-color: green;
  border-color: green;


  font-family: "Comic Sans MS";
  cursor: pointer;
  


}


h1 {
  font-size: 60px;
  background-color: green;
  border-color: green;


}




ul {
  display: inline-flex;
  list-style: square inside;
  padding: 0;


}


#trivia-categories {
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100%;
  
}



#music {
  position: relative;
  justify-content: center;
  width: 10px;
}

.questions {
  background-color: lightgrey;
  width: 100px;
  border: 15px solid purple;
  padding: 10px;
  margin: 20px;
  max-height: 15px;
 
}

.questions-color {
  background-color: lightgrey;
  width: 100px;
  border: 15px solid purple;
  padding: 10px;
  margin: 20px;
  max-height: 15px;
  transform: scale(1.5);
  
 
}

#table {
  background-color: green;
  width: 500px;

}


#trivia-nav img {
  width: 150px;
  border: green 2px;
  margin: 0.3em;
  border-radius: 0.5em;
}

#trivia-display {
  position: relative;
  top: 50px;
}



form {
  background: purple;
  margin: auto;
  width: 150px;
  position: relative;
  border: ridge;
  top: -150px;
  transition: 1s;
}

form:hover {
  transform:scale(1.3);
  z-index:2;
  

form:hover {
  transform:scale(1.3);
  z-index:2;


}



form label {
  display: block;
}

#ScoreCount {
  margin: auto;
  position: relative;
  font-family: "Comic Sans MS";
  font-size: 40px;

  
  
 

  
}

::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: left !important;
  text-align-last: left !important;
}

ul li {
     padding-right: 10px;
     padding-left: 20px;
}

label[for=trivia-name-input] {
  color: red;
}

 .diagnolLineOne{

  border-bottom: 10px solid rgb(255, 0, 0);
  width: 45%;
  transform: rotate(45deg);
  transform-origin: left;
  position: relative;
  top: -72px;
  left: 35px;
  transition: 1s;
  animation: fadeIn 2s;

  

  
  }

.diagnolLineTwo{

    border-bottom: 10px solid red;
    width: 45%;
    transform: rotate(-45deg);
    transform-origin: right;
    position: relative;
    top: -122px;
    left: 21px;
    transition: 1s;
    animation: fadeIn 2s;

    
    }

    #F-medium.questions{
      max-height: 15px;
    }

    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
=======
  font-family: "Comic Sans MS"
}

.diagnolLineOne{
  border-bottom: 10px solid rgb(255, 0, 0);
  width: 45%;
  transform: rotate(45deg);
  transform-origin: left;
  position: relative;
  top: -72px;
  left: 35px;
  transition: 1s;
  animation: fadeIn 2s;
  }

.diagnolLineTwo{
    border-bottom: 10px solid red;
    width: 45%;
    transform: rotate(-45deg);
    transform-origin: right;
    position: relative;
    top: -122px;
    left: 21px;
    transition: 1s;
    animation: fadeIn 2s;
    }


